# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
venv/
.venv/

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.next/
out/

# Docker
pgdata/
osdata/

# Claude
.claude
CLAUDE.md

# data
*.csv
/output
/backups

# CF 모델 바이너리
backend/models

# log
/logs
/log
*.log

# test용
*.ipynb
requirements.txt
.pytest_cache/